{{#bs-navbar toggleBreakpoint="sm" as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index" class="navbar-brand" }}EC{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "projects"}}Projects{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "blog"}}Blog{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "contact"}}Contact{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
<div class="container-fluid bg-light pt-5 pb-5">
  <div class="container">
    {{outlet}}
  </div>
</div>
<div class="container-fluid bg-dark py-5 px-5">
  <div class=" row text-light ">
    <div class="col-sm-auto py-3 ">
      <h2>Evan Cole</h2>
      Software Engineer
    </div>
    <div class="col-sm-auto py-3 ">
      {{fa-icon "envelope"}}
      <a href="mailto:ecole5@uwo.ca?subject=Job Opportunity For Evan Cole " class="badge badge-dark ">ecole5@uwo.ca</a>
      <br> {{fa-icon "github"}}
      <a href="github.com/ecole5 " class="badge badge-dark ">github.com/ecole5</a>
      <br> {{fa-icon "linkedin"}}
      <a href="linkedin.com/in/ecole5 " class="badge badge-dark ">linkedin.com/in/ecole5</a>
    </div>
  </div>
</div>