{{#each model as |project index|}}
    <div class="card mb-5">
        <div class="card-header">
            <h3>{{project.title}}</h3>
            {{#each project.pic as |pict|}}
                <img src="img/skill/{{pict}}.png" alt="{{pict}} Logo" class="img-thumbnail"> {{/each}}
        </div>
        <div class="card-body">
            {{#if project.slide}} {{! If we are gonna have a two column with a slideshow }}
                <div class="row">
                    <div class="col-sm">
                        {{#bs-carousel autoPlay=true interval=2000 showIndicators=false as |car|}}
                            {{#each project.slide as |slide|}}
                                {{#car.slide}}
                                    <img src="img/ugames/{{slide}}.png" alt="Unity Games Demo {{slide}}" style="display: block; width:100%;">
                                {{/car.slide}}
                            {{/each}}
                        {{/bs-carousel}}
                    </div>
                    <div class="col-sm pt-3">
                        {{{project.body}}}
                    </div>
                </div>
            {{else}}{{! Normal One Column }}
                {{{project.body}}}
            {{/if}}
        </div>
    </div>
{{/each}}
{{outlet}}